.wrapper {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: var(--z-floating);
}

.floatingButton {
  box-shadow: var(--shadow-dialog);
}

.text {
  display: none;
}

@media (min-width: 640px) {
  .text {
    display: inline;
  }
}
